.navbar {
    background-color: $dark;
    color: #fff;
    padding: 0;
    @media all and (max-width: 575px) {
        padding: 10px 0;
    }
    .row {
        width: 100%;
    }
    .btn {
        font-size: 30px;
        font-weight: 300;
        width: 50%;
        height: 60px;
        @media all and (max-width: 991px) {
            font-size: 25px;
            line-height: 45px;
        }
        @media all and (max-width: 575px) {
            width: 100%;
            line-height: 35px;
            height: 50px;
        }
        .btn-img {
            margin: -10px 10px 0 0;
        }
    }
}

.navbar-nav {
    @media all and (min-width: 992px) {
        flex-direction: row;
        justify-content: space-around;
    }
    .nav-link {
        color: #fff;
        font-size: 16px;
        padding: 18px 0;
    }
}

.navbar-toggler {
    border: 1px solid #fff;
    border-radius: 0;
    margin: 10px 0 0 0;
    @media all and (min-width: 992px) {
        display: none;
    }
    @media all and (max-width: 575px) {
        margin: 0 0 10px 0;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

.collapse {
    @media all and (min-width: 992px) {
        display: block;
    }
}

.header {
    overflow: hidden;
    padding: 10px 0;
    .form-wrapper {
        padding: 20px 0 0 0;
    }
    .form-inline {
        width: 70%;
        position: relative;
        .form-control {
            border-radius: 0;
            width: 100%;
            
        }
    }
    .search-btn {
        background-color: #fff;
        border: none;
        opacity: 0.7;
        position: absolute;
        right: 10px;
        top: 7px;
    }
    .btn {
        width: 25%;
    }
}
.navbar-brand {
    max-width: 230px;
    margin: 0;
    @media all and (max-width: 575px) {
        margin: auto;
        display: block;
    }
    .logo {
        float: left;
        width: 90%;
        @media all and (max-width: 575px) {
            margin: auto;
            display: block;
        }
    }
}

.cart-items {
    margin: 0 0 0 10px;
}